name: Docker CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build builder for amd64 and arm64
        run: |
          docker buildx build --platform linux/amd64 -t xeus-cling-builder-amd64 .
          # docker buildx build --platform linux/arm64 -t xeus-cling-builder-arm64 .
      - name: Build for amd64
        run: docker run --name xeus-cling-builder-amd64 -v ${PWD}:/data:z xeus-cling-builder-amd64
      # - name: Build for arm64
      #   run: docker run --name xeus-cling-builder-arm64 -v ${PWD}:/data:z xeus-cling-builder-arm64
      - name: Publish binaries to GitHub releases
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          files: |
            out/*
